<!-- partners.component.html -->

<div class="header">
  <img src="assets/partners.jpg" alt="Partners Page Header Image">
  <div class="header-content">
    <h1>{{ pageTitle }}</h1>
    <p>{{ pageDescription }}</p>
    <button>{{ sponsorButtonText }}</button>
  </div>
</div>

<h2 class="partners-heading">Below are our Corporate Partners</h2>
<table class="partners-table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Trademark</th>
      <th>Sponsorship</th>
      <th>Go to Website</th>
    </tr>
  </thead>
  <tbody>
    <!-- *ngFor Directive for Iterating Over 'partners' Array -->
    <tr *ngFor="let partner of partners">
      <td>{{ partner.name }}</td>
      <td><img [src]="partner.logo" alt="{{ partner.name }} Logo"></td>
      <td>{{ partner.sponsorship }}</td>
      <td><a href="{{ partner.website }}" target="_blank">Visit Website</a></td>
    </tr>
  </tbody>
</table>
