<!-- app.component.html -->
<div class="container">
  <h1>Books Application</h1>

  <div class="input-group">
    <input id="newBook" class="form-control" placeholder="Title">
    <input id="newDesc" class="form-control" placeholder="Description">
    <input id="newPrice" class="form-control" placeholder="Book Price">
    <button class="btn btn-primary" (click)="addBook()">Add Book</button>
  </div>

  <hr>

  <div *ngFor="let book of books" class="book">
    <div class="book-details">
      <h3>{{book.title}}</h3>
      <p>{{book.desc}}</p>
      <p>Price: ${{book.price}}</p>
    </div>
    <button class="btn btn-danger" (click)="deleteBook(book.id)">Delete Book</button>
  </div>
</div>
